body {
    font-family: sans-serif;
    background-color: white;
    color: white;
    margin: 0;
}

header {
    background-color: #FBE3D9;
    margin: 0px;
    padding: 15px;
    display: flex;
    align-items: center;
}

header img {
    width: 100px;
}

header p {
    color: black;
    border-radius: 10px;
    background-color: #FBE3D9;
}

nav {
    text-align: center;
    padding: 10px;
    display: inline-block;
}

nav a {
    padding: 10px 10px;
    margin: 50px;
    background-color: #BBDED8;
    border-radius: 10px;
    text-decoration: none;
    color: black;
 font-family:Open Sans;
}

h1 {
    text-align: center;
    color: black;
    font-size: 40px;
        font-family:Open Sans;
}

h2{
        text-align: center;
    color: black;
    font-size: 40px;
        font-family:Open Sans;
}

p {
    color: black;
    font-size: 25px;
    background-color: #FFE0E1;
    padding: 30px;
    font-family:Open Sans;
}


.image {
    display: flex;
    justify-content: space-evenly
}

.image {
    background-color: #BBDED8;
    padding: 0px;
}

.image img {
    opacity: 0.2;
    width: 184px;
    height: 245px;
    padding: 15px 30px;
    border-radius:15px ;
}

.image img:hover {
    opacity: 1;
    border: 6px solid navy;
    width: 220px;
    height: 280px;
    padding: 5px;
    transition: 0.5s ease-out;
}

footer {
    background-color: #BBDED8 ;
    margin-top: 50px;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

footer p {
    background-color:#BBDED8 ;
    font-size: 16px;
    color: black;
    text-align: left;
        font-family:Open Sans;
}

footer img.socialmedia {
    width: 40px;
    padding: 5px;
}

.infa2{
    background-color: #FFE0E1;
    padding: 6px 20px;
    margin-bottom: 15px;
}

.map{
display:flex;
justify-content: center;
border: #FFE0E1 solid 5px;
 border-radius:10px;
 box-shadow:10px 10px 20px gray;
}

.map iframe{
    border: #FFE0E1 solid 5px;
 border-radius:10px;
}
